.services {
  padding-bottom: 130px;
  background: #f3f3f3;
  .service_description {
    position: relative;
    p + p {
      margin-top: 40px;
    }
    .graphic {
      position: absolute;
      top: 25%;
      left: 50%;
      @include translate(0, -50%);
    }
  }
}