@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,900');
@import 'mixins';
@import 'media';

$active-color: #19bd9a;
$page-main-text-color: #81868e;
$page-second-text-color: #333b46;

/* COMMON */
body {
  font: 16px/1.75 "Open Sans", sans-serif;
  color: $page-main-text-color;
}

a {
  color: $active-color;
  font-weight: bold;
  @include transition(all .2s);
}

::selection {
  background: rgba(25, 189, 154, .7);
  color: #fff;
}

.section_header {
  padding: 80px 0 60px;
  text-align: center;
  p {
    font-size: 14px;
  }
}
.section_title {
  margin-bottom: 40px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  color: $page-second-text-color;
  letter-spacing: 7px;
}

.project_title {
  @extend .section_title;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 888;
  @include translate(-50%, -50%);
  color: #fff;
}

.section_subtitle {
  margin-bottom: 40px;
  font-size: 20px;
  text-transform: capitalize;
}

.col-without-padding {
  padding: 0;
}

.actions {
  margin-bottom: 60px;
  text-align: center;
  color: #fff;
  .action {
    display: inline-block;
    width: 54px;
    height: 54px;
    line-height: 54px;
    @include border-radius(50%);
    background: $page-main-text-color;
    font-size: 20px;
    @include transition(all .3s);
    &:not(:last-child) {
      margin-right: 30px;
    }
    &:hover {
      background: $active-color;
      @include scale(1.1);
    }
  }
  &.service_actions {
    float: left;
    margin-bottom: 0;
    width: 65px;
    height: 100%;
    .action {
      margin-top: 20px;
      margin-right: 0;
    }
  }
}

/* BUTTONS */
.bouncy_rounded_btn {
  padding: 7px 30px;
  border: 1px solid #fff;
  @include border-radius(25px);
  background: transparent;
  text-transform: capitalize;
  color: #fff;
  @include transition(all .25s ease-in-out);
  &:hover {
    background: #fff;
    color: $page-second-text-color;
  }
  &:focus {
    outline: none;
  }
}

.bouncy_btn_black {
  border-color: $page-second-text-color;
  color: $page-second-text-color;
  &:hover {
    background: $page-second-text-color;
    color: #fff;
  }
}

.bouncy_rect_btn {
  padding: 10px 0;
  border-radius: 0;
  background: $active-color;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  @include transition(all .3s);
  &:hover {
    box-shadow: 0 0 20px $active-color;
    background: #fff;
    color: $active-color;
  }
}

/* SLIDER */
.slider_point {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid $active-color;
  border-radius: 50%;
  cursor: pointer;
  &:not(:last-child) { margin-right: 10px; }
}
.slick-active > .slider_point { background: $active-color; }
:not(.slick-active):hover > .slider_point { background: rgba(25, 189, 154, .2); }

/* HEADER */
.main_header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
                                rgba(0, 0, 0, .5),
                                rgba(0, 0, 0, .5)
                              ),
                    url("../images/banner.jpg") center;
  @include bg-size(cover);
  color: #fff;
}
.page_navigation {
  padding: 40px 0;
  @include transition(all .3s);
  &.fixed_navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0;
    width: 100%;
    background: rgba(25, 189, 154, 1);
  }
  .custom_navbar_toggle {
    font-size: 1.3em;
  }
  .company_name {
    margin-top: 8px;
    font-family: "Maven Pro", sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
  }
  a {
    color: #fff;
    @include transition(color .3s ease-in-out);
    &:hover {
      color: #ffda3a;
    }
  }
  .menu {
    padding: 15px 0;
    li {
      position: relative;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &.active {
        border: 1px solid #fff;
        @include border-radius(20px);
      }
      &:not(.active) {
        &:after {
          content: '';
          position: absolute;
          top: 100%;
          right: 0;
          width: 0;
          height: 1px;
          background: #fff;
          @include transition(width .2s ease-in-out);
        }
        &:hover:after {
          left: 0;
          width: 100%;
        }
      }
      a {
        padding: 10px 25px;
        &:hover {
          background: transparent;
        }
      } // /a
    } // /li
  } // /menu
} // /page_navigation
.page_welcome {
  .page_welcome_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    text-align: center;
    h1 {
      text-transform: uppercase;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 40px;
      font-weight: 300;
      letter-spacing: 8px;
    }
    p {
      font-size: 20px;
    }
  }
  .to_bottom_arrow {
    position: absolute;
    left: 50%;
    bottom: 10%;
    @include translate(-50%);
    width: 36px;
    height: 36px;
    line-height: 36px;
    @include border-radius(50%);
    background: $active-color;
    text-align: center;
    font-size: 18px;
    @include transition(all .3s);
    &:hover {
      background: #fff;
      color: $active-color;
      cursor: pointer;
    }
  }
}

/* ABOUT SECTION */
.about {
  padding: 70px 0;
  .description {
    p {
      margin: 50px 0 35px;
      font-size: 14px;
    }
  }
}

/* DETAILS SECTION */
.details {
  padding: 0 0 100px;
  background: #f3f3f3;
  .introduce {
    margin-bottom: 60px;
    text-align: center;
  }
}

/* FEATURED PROJECTS SECTION */
.featured_projects {
  .projects {
    height: 320px;
    cursor: pointer;
    img {
      width: 100%;
      height: 320px;
    }
    .project {
      position: relative;
      .visible_project {
        z-index: 999;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, .7);
        }
        @include transition(all .3s);
        &:hover {
          height: 0;
          opacity: 0;
          & + .hidden_project {
            display: block;
            opacity: 1;
          }
        }
      }
      .hidden_project {
        display: none;
        opacity: 0;
        @include transition(all .5s ease-in-out);
      }
    }
  }
  .featured_footer {
    padding: 30px 0;
    width: 100%;
    background: $active-color url("../images/projects-footer.jpg") no-repeat center;
    @include bg-size(cover);
    color: #fff;
    p {
      margin: 0;
      padding: 2px 0 0 0;
      font-size: 20px;
    }
  }
}

/* SERVICES SECTION */
.services {
  padding-bottom: 130px;
  background: #f3f3f3;
  .service_description {
    position: relative;
    p + p {
      margin-top: 40px;
    }
    .graphic {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(0, -50%);
    }
  }
}

/* TEAM QUOTES SECTION */
.team_quotes {
  padding: 80px 0 100px;
  background: #202020 url("../images/team_quotes.jpg") no-repeat center center;
  @include bg-size(cover);
  color: #b2b3b3;
  .section_title {
    color: #f3f3f3;
  }
  .author {
    margin-top: 30px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .desctop {
    margin-top: -120px;
  }
}

/* PORTFOLIO SECTION */
.portfolio {
  padding-bottom: 100px;
  background: #f3f3f3;
  text-align: center;
  .portfolio_navigation {
    display: inline-block;
    margin-bottom: 60px;
    border-bottom: none;
    li {
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 25%;
        width: 50%;
        height: 0;
        background: $active-color;
      }
      &.active:after {
        height: 3px;
        @include transition(all .3s);
      }
      a[href^="#portfolio"] {
        border: none;
        background: transparent;
        color: #464646;
        font-weight: normal;
        &:hover {
          color: #a9a9a9;
        }
      }
    }
  } // /portfolio nabigation
  .portfolio_content {
    .pictures-grid_col {
      padding-right: 0;
      overflow: hidden;
      .pictures-grid_img {
        position: relative;
        @include transition(all .3s);
        &:not(:last-child) { margin-bottom: 10px; }
        &:hover {
          cursor: pointer;
          .pictures-grid_hover-block {
            opacity: 1;
          }
        }
        .pictures-grid_hover-block {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;
          top: 0;
          left: 0;
          padding: 15% 40px 15%;
          width: 100%;
          height: 100%;
          opacity: 0;
          background: rgba(0, 0, 0, .8);
          color: #fff;
          text-align: left;
          @include transition(all .3s ease-in-out);
          .hover-block_title {
            display: inline-block;
            position: relative;
            padding-bottom: 20px;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 6px;
            color: $active-color;
            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 20px;
              height: 2px;
              background: $active-color;
            }
          }
          .hover-block_description {
            font-size: 12px;
            color: #b2b3b3;
          }
          .hover-block_social .hover-block_social-btn {
            margin-right: 7px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            background: #000;
            text-align: center;
            font-size: 14px;
            color: #fff;
            @include transition(all .3s);
            &:hover {
              @include scale(1.1);
              background: $active-color;
              color: #fff;
            }
            &:hover, &:focus { text-decoration: none; }
          }
        }
      }
    }
  }
  .portfolio_footer {
    margin-top: 40px;
    padding: 60px 0;
    background: $active-color url("../images/portfolio-cta.jpg") no-repeat center;
    @include bg-size(cover);
    color: #fff;
    button { margin-top: 15px; }
  }
}

/* TEAM SECTION */
.team {
  padding-bottom: 100px;
  overflow: hidden;
  .team_slider {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    .team_slide {
      display: inline-block;
    }
    .members_block {
      position: relative;
      text-align: right;
      &:after {
        content: '';
        position: absolute;
        top: 10%;
        right: -40px;
        width: 5px;
        height: 80%;
        background: $active-color;
      }
      .member_name {
        font-size: 20px;
        color: #595959;
      }
      .member_position {
        font-family: "Source Sans Pro", sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        font-style: italic;
      }
    }
    .about_member {
      margin-top: 35px;
      font-size: 14px;
      text-align: right;
    }
    .member_skills .skill {
      margin-top: 35px;
      text-align: right;
      .skill_name {
        float: left;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
      .skill_progress {
        width: 100%;
        height: 5px;
        background: linear-gradient(to right, $active-color, $active-color 80%, #e1e4e9 80.1%, #e1e4e9);
      }
    }
  }
}

/* TEAM CTA SECTION */
.team_cta {
  padding: 60px 0;
  background: url('../images/team-cta.jpg') no-repeat center;
  @include bg-size(cover);
  text-align: center;
  color: #fff;
  p {
    margin-bottom: 30px;
    font-size: 20px;
  }
}

/* TESTIMONIALS SECTION */
.testimonials {
  padding-bottom: 100px;
  background: #f3f3f3;
  .testimonials_slider_wrapper {
    padding: 50px 100px;
    background: #fff;
    .testimonials_slider .testimonial_author {
      margin-top: 30px;
      margin-bottom: 50px;
      text-transform: uppercase;
      color: #464646;
      .testimonial_author-name {
        color: $active-color;
        font-weight: 600;
      }
      .testimonial_author-position {
        font-size: 14px;
      }
    }
  }
}

/* LATEST NEWS SECTION */
.latest_news {
  position: relative;
  padding-bottom: 100px;
  width: 100%;
  background: #1f1f1f url("../images/latest-news-bg.jpg") no-repeat center;
  @include bg-size(cover);
  :focus { outline: none; }
  .slick-slider {
    @include user-select(text);
  }
  .slick-list.draggable {
    @include user-select(none);
  }
  .slick-dots {
    position: absolute;
    top: 50%;
    right: 0;
    @include translate(0, -50%);
    width: auto;
    height: 0;
    li {
      display: block;
      &.slick-active .slider_point {
        background: #b2b3b3;
      }
      &:not(.slick-active):hover .slider_point {
        background: rgba(150, 150, 150, .3);
      }
      .slider_point {
        border-color: #b2b3b3;
      }
    }
  }
  .new {
    color: #81868e;
    .section_header {
      text-align: left;
      .section_title { color: #fff;}
    }
    .new-inner {
      margin-left: 70px;
      font-size: 14px;
      .new_title {
        font-size: 20px;
        color: #e1e4e9;
      }
      .new_author,
      .new_stats {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 300;
      }
      .new_author {
        text-transform: uppercase;
        font-style: italic;
      }
      .new_stats {
        color: #505050;
      }
      .new_text {
        padding: 50px 0;
      }
      .new_read-more a {
        font-size: 16px;
        color: #b2b3b3;
      }
      .new_video {
        display: block;
        margin: auto;
        width: 55%;
      }
    }
  }
}

/* OUR PRICE SECTION */
.our_price {
  padding-bottom: 100px;
  background: #f3f3f3;
  .service {
    position: relative;
    width: 230px;
    height: 300px;
    background: #fff;
    @include box-shadow(1px 1px #e7e7e7);
    .service_head,
    .service_footer {
      width: 100%;
      padding: 25px 0;
      text-align: center;
      color: #fff;
      background: $active-color;
    }
    .service_head {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 20px;
    }
    .service_footer {
      position: absolute;
      left: 0;
      bottom: 0;
      a {
        color: #fff;
      }
    }
    .service_list {
      padding-top: 35px;
      list-style: none;
      font-size: 14px;
      li { margin-bottom: 5px; }
    }
    .service_price {
      margin-top: 50px;
      margin-bottom: 0;
      text-align: center;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 44px;
      font-weight: bold;
      color: $active-color;
    }
    .service_duration {
      text-align: center;
      font-size: 20px;
    }
  }
}

/* SUBSCRIBE SECTION */
.subscribe {
  padding-bottom: 100px;
  background: #292929 url(../images/subscribe-bg.jpg) no-repeat fixed center;
  @include bg-size(cover);
  .section_title {
    color: #fff;
  }
  .subscribe_form {
    margin: auto;
    width: 40%;
    .subscribe_email {
      margin-right: 10px;
      padding: 20px 25px;
      width: 65%;
      border-color: $page-main-text-color;
      border-radius: 0;
      background: transparent;
      color: #fff;
      &::-webkit-input-placeholder { color: #fff; }
      &:-ms-input-placeholder { color: #fff; }
      &::-moz-placeholder { color: #fff; }
      &:-moz-placeholder { color: #fff; }
    }
    button {
      width: 30%;
    }
  }
}

/* CONTACT US SECTION */
.contact_us {
  padding-bottom: 100px;
  background: #f3f3f3;
  .contact_block {
    min-height: 300px;
    background: #fff;
    @include box-shadow(1px 1px #e7e7e7);
    text-align: center;
    text-transform: uppercase;
    .contact_img img { width: 100%; }
    .contact_title {
      margin-top: 30px;
      color: #464646;
    }
    .contact_description { font-size: 14px; }
  }
}

/* MESSAGE SECTION */
.message {
  padding: 80px 0 125px;
  input,
  textarea {
    padding: 5px 20px;
    width: 100%;
    border: 1px solid #d8dce0;
  }
  input {
    width: 100%;
  }
  textarea {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    height: 190px;
    resize: none;
  }
}

/* MAP SECTION */
.map {
  position: relative;
  width: 100%;
  height: 100vh;
  #map {
    width: 100%;
    height: 100%;
  }
  .map_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    @include transition(all .3s);
    &:hover {
      cursor: pointer;
      opacity: .8;
    }
    .map_title_inner {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      color: #fff;
      text-transform: uppercase;
      .to_bottom_arrow {
        display: inline-block;
        margin-left: 20px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $active-color;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}

/* PAGE FOOTER */
.page_footer {
  padding: 80px 0 90px;
  background: #f3f3f3;
  text-align: center;
  .footer_info {
    display: inline-block;
    .company_name {
      margin-bottom: 10px;
      font-family: "Maven Pro", sans-serif;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 900;
      a {
        text-decoration: none;
        color: #323a45;
        @include translate(all .3s);
        &:hover {
          color: $active-color;
        }
      }
    }
    .copyright {
      margin-bottom: 40px;
      font-size: 14px;
    }
    .social_list {
      padding: 0;
      list-style: none;
      .social_anchor {
        display: inline-block;
        margin-right: 10px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        line-height: 26px;
        text-align: center;
        background: $active-color;
        @include transition(all .2s);
        &:last-child { margin-right: 0; }
        &:hover { filter: brightness(1.1); }
        &.fb { background: #3b5998; }
        &.tw { background: #26a6d1; }
        &.linkedin { background: #0e76a8; }
        &.instagram { background: #3f729b; }
        &.vimeo { background: #86c9ef; }
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          color: #fff;
        }
      }
    }
  }
}