@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,900');
@import 'mixins';

$active-color: #19bd9a;
$page-main-text-color: #81868e;
$page-second-text-color: #333b46;

/* COMMON */
body {
  font: 16px/1.75 "Open Sans", sans-serif;
  color: $page-main-text-color;
}

a {
  color: $active-color;
  font-weight: bold;
  @include transition(all .2s);
}

::selection {
  background: rgba(25, 189, 154, .7);
  color: #fff;
}

@import 'common_elements';
@import 'action-icons';

/* BUTTONS */
@import 'buttons/bouncy_rounded_btn';
@import 'buttons/bouncy_btn_black';
@import 'buttons/bouncy_rect_btn';

/* SLIDER */
@import 'slider';

/* HEADER */
@import 'header/main_header';
@import 'header/page_navigation';
@import 'header/page_welcome';

/* ABOUT SECTION */
@import 'about';

/* DETAILS SECTION */
@import 'details';

/* FEATURED PROJECTS SECTION */
@import 'featured_projects';

/* SERVICES SECTION */
@import 'services';

/* TEAM QUOTES SECTION */
@import 'team_quotes';

/* PORTFOLIO SECTION */
@import 'portfolio';

/* TEAM SECTION */
@import 'team';

/* TEAM CTA SECTION */
@import 'team_cta';

/* TESTIMONIALS SECTION */
@import 'testimonials';

/* LATEST NEWS SECTION */
@import 'latest_news';

/* OUR PRICE SECTION */
@import 'our_price';

/* SUBSCRIBE SECTION */
@import 'subscribe';

/* CONTACT US SECTION */
@import 'contact_us';

/* MESSAGE SECTION */
@import 'message';

/* MAP SECTION */
@import 'map';

/* PAGE FOOTER */
@import 'page_footer';